[submodule "external/dinov3"]
	path = external/dinov3
	url = https://github.com/facebookresearch/dinov3.git
#[submodule "dinov3"]
#	path = external/dinov3
#	url = https://github.com/facebookresearch/dinov3.git
[submodule "external/segment-anything"]
	path = external/segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
